
body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: Mulish sans-serif;
    min-height: 100vh;
} 
